<a href="https://colab.research.google.com/github/blaze515/ecomalyzer/blob/master/ecomalyzer2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# GroupBy Ecommerce Analysis
Jake Dunn - Feb 22, 2020

## Load and Preprocess Data

In [0]:
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
import json
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction import DictVectorizer
from scipy.stats import chi2, chi2_contingency, chisquare
import scipy.sparse as sp

In [2]:
data = pd.read_csv('/content/data-1.csv')
data.head()

      customer_integrated_id  ... clickthrough_rate
0  cjsyuvlck00013ra31lxcso69  ...               0.0
1  cjwti47ac0001458du5ow5ikh  ...               0.0
2                  013146471  ...               0.0
3                  014182827  ...               0.0
4                  023424641  ...               0.0

[5 rows x 8 columns]

In [3]:
print(data.shape)

(168362, 8)

In [4]:
refinement_df = json_normalize(data['refinement'].apply(json.loads))
refinement_df.head()

                                                name displayName  ... high  low
0                                   gbi_categories.1    Category  ...  NaN  NaN
1               visualVariant.nonvisualVariant.BRAND      Brands  ...  NaN  NaN
2  visualVariant.nonvisualVariant.gbi_Merged_concern     Concern  ...  NaN  NaN
3               visualVariant.nonvisualVariant.BRAND      Brands  ...  NaN  NaN
4                                   gbi_categories.1    Category  ...  NaN  NaN

[5 rows x 5 columns]

In [5]:
df = pd.concat([data, refinement_df], axis=1)
df.head(5)

      customer_integrated_id  ... low
0  cjsyuvlck00013ra31lxcso69  ... NaN
1  cjwti47ac0001458du5ow5ikh  ... NaN
2                  013146471  ... NaN
3                  014182827  ... NaN
4                  023424641  ... NaN

[5 rows x 13 columns]

In [6]:
x_tab = pd.crosstab([df['displayName'], df['name']], columns='count')
x_tab

col_0                                                                                                  count
displayName                                        name
Brands                                             visualVariant.nonvisualVariant.BRAND                24149
Category                                           gbi_categories.1                                    80599
                                                   gbi_categories.2                                    40468
                                                   gbi_categories.3                                      831
Concern                                            visualVariant.nonvisualVariant.gbi_Merged_concern    4737
Flavor                                             visualVariant.nonvisualVariant.gbi_Merged_flavor      169
Form                                               visualVariant.nonvisualVariant.FORM                   616
                                                   visualVariant.nonvisualVariant.gbi_Merged_form       2603
More Ways to Browse                                visualVariant.nonvisualVariant.MOREWAYSTOBROWSE      5587
Pill Size                                          visualVariant.nonvisualVariant.PILLSZ                  34
Potency                                            visualVariant.nonvisualVariant.POTENT                2811
Specialty                                          visualVariant.nonvisualVariant.SDP                    564
                                                   visualVariant.nonvisualVariant.gbi_Merged_speci...   3666
Swanson Brands                                     visualVariant.nonvisualVariant.BRAND2                1474
visualVariant.nonvisualVariant.BAZARRATE           visualVariant.nonvisualVariant.BAZARRATE               25
visualVariant.nonvisualVariant.BAZARREVIEW         visualVariant.nonvisualVariant.BAZARREVIEW             24
visualVariant.nonvisualVariant.MOREWAYSTOBROWSE    visualVariant.nonvisualVariant.MOREWAYSTOBROWSE         4
visualVariant.nonvisualVariant.gbi_Merged_speci... visualVariant.nonvisualVariant.gbi_Merged_speci...      1

In [0]:
stat, p, dof, expected = chi2_contingency(x_tab)

In [8]:
print('dof=%d' % dof)
print(expected)

dof=0
[[2.4149e+04]
 [8.0599e+04]
 [4.0468e+04]
 [8.3100e+02]
 [4.7370e+03]
 [1.6900e+02]
 [6.1600e+02]
 [2.6030e+03]
 [5.5870e+03]
 [3.4000e+01]
 [2.8110e+03]
 [5.6400e+02]
 [3.6660e+03]
 [1.4740e+03]
 [2.5000e+01]
 [2.4000e+01]
 [4.0000e+00]
 [1.0000e+00]]

In [9]:
prob = .95
critical = chi2.ppf(prob, dof)
print('probability=%.3f, critical=%.3f, stat=%.3f' % (prob, critical, stat))

probability=0.950, critical=nan, stat=0.000

In [10]:
chisquare(x_tab)

Power_divergenceResult(statistic=array([772723.86695335]), pvalue=array([0.]))

In [11]:
df.head()

      customer_integrated_id  ... low
0  cjsyuvlck00013ra31lxcso69  ... NaN
1  cjwti47ac0001458du5ow5ikh  ... NaN
2                  013146471  ... NaN
3                  014182827  ... NaN
4                  023424641  ... NaN

[5 rows x 13 columns]

In [12]:
df.describe()

            searches   viewProducts  ...           high        low
count  168362.000000  168362.000000  ...      49.000000  49.000000
mean        4.083730       1.692448  ...   48982.142857  12.142857
std         5.276081       3.614590  ...   50505.101846   7.778175
min         2.000000       0.000000  ...       5.000000   4.600000
25%         2.000000       0.000000  ...       5.000000   4.600000
50%         3.000000       1.000000  ...       5.000000   4.600000
75%         4.000000       2.000000  ...  100000.000000  20.000000
max       347.000000     467.000000  ...  100000.000000  20.000000

[8 rows x 8 columns]

In [13]:
df.isnull().sum()

customer_integrated_id         0
refinement                     0
searches                       0
viewProducts                   0
addToCarts                     0
orders                         0
conversion_rate                0
clickthrough_rate              0
name                           0
displayName                    0
value                         49
high                      168313
low                       168313
dtype: int64

In [14]:
df['value'].fillna('', inplace=True)
df['high'].fillna(df['high'].mean(), inplace=True)
df['low'].fillna(df['low'].mean(), inplace=True)
df.isnull().sum()

customer_integrated_id    0
refinement                0
searches                  0
viewProducts              0
addToCarts                0
orders                    0
conversion_rate           0
clickthrough_rate         0
name                      0
displayName               0
value                     0
high                      0
low                       0
dtype: int64

In [15]:
def join_feature(row):
  return ("%s_%s" % (row['displayName'], row['value']))

df['combined'] = df.apply(join_feature, axis=1)
df.head(5)

      customer_integrated_id  ...                        combined
0  cjsyuvlck00013ra31lxcso69  ...              Category_Vitamin C
1  cjwti47ac0001458du5ow5ikh  ...                    Brands_Jason
2                  013146471  ...      Concern_Eye/Macular Health
3                  014182827  ...  Brands_Swanson Health Products
4                  023424641  ...                  Category_CoQ10

[5 rows x 14 columns]

In [0]:
combined = df['combined'].to_dict()

In [17]:
trimmed_df = df.drop(columns=['refinement', 'name', 'displayName', 'combined','value'])

trimmed_df

           customer_integrated_id  searches  ...          high        low
0       cjsyuvlck00013ra31lxcso69         3  ...  48982.142857  12.142857
1       cjwti47ac0001458du5ow5ikh         3  ...  48982.142857  12.142857
2                       013146471         5  ...  48982.142857  12.142857
3                       014182827         2  ...  48982.142857  12.142857
4                       023424641         2  ...  48982.142857  12.142857
...                           ...       ...  ...           ...        ...
168357                  012228043        41  ...  48982.142857  12.142857
168358                  021537894        41  ...  48982.142857  12.142857
168359                  023694769       138  ...  48982.142857  12.142857
168360  cjtdjeyg200013aazf2cobwf1        73  ...  48982.142857  12.142857
168361  cjspa67fz00014kba5x1865gi        73  ...  48982.142857  12.142857

[168362 rows x 9 columns]

In [18]:
count_vect = CountVectorizer(stop_words='english')
# id_counts = count_vect.fit_transform(trimmed_df['customer_integrated_id'].to_numpy())
# trimmed_df2 = trimmed_df.drop(columns=['customer_integrated_id'])
# x = trimmed_df2.to_numpy()
# x.shape
# train = sp.hstack(trimmed_df.apply(lambda col: count_vect.fit_transform(col)))
# x = sp.hstack([id_counts, x])
# x.shape
# x_train
# id_counts.shape
# count_vect.get_feature_names()
# combined.data
# y = count_vect.transform(combined)
y = count_vect.fit_transform(df['combined'].to_numpy())
# count_vect.get_feature_names()
y.shape
# y.shape

(168362, 2470)

In [0]:
# dict_vect = DictVectorizer()
# records = trimmed_df.drop(columns=['customer_integrated_id']).to_dict('records')
# records
# x = dict_vect.fit_transform(records)
# x.shape
# # dict_vect.get_feature_names()

# y = dict_vect.transform(combined)
# y

In [20]:
print(len(df))
df['displayName'].unique()

smaller = df[df['displayName'].isin(['Category', 'Brands', 'Concern', 'Specialty'])]
print(len(smaller))
smaller['displayName'].unique()
smaller.head()
# df.describe()
# y = df['combined']
test = smaller.drop(columns=['value', 'name', 'displayName', 'refinement', 'customer_integrated_id'])
y = smaller['customer_integrated_id']
test.head()

168362
155014

   searches  viewProducts  ...        low                        combined
0         3             0  ...  12.142857              Category_Vitamin C
1         3             0  ...  12.142857                    Brands_Jason
2         5             0  ...  12.142857      Concern_Eye/Macular Health
3         2             0  ...  12.142857  Brands_Swanson Health Products
4         2             0  ...  12.142857                  Category_CoQ10

[5 rows x 9 columns]

In [21]:
x = pd.get_dummies(test)
x

        searches  ...  combined_Specialty_pH Balanced
0              3  ...                               0
1              3  ...                               0
2              5  ...                               0
3              2  ...                               0
4              2  ...                               0
...          ...  ...                             ...
168357        41  ...                               0
168358        41  ...                               0
168359       138  ...                               0
168360        73  ...                               0
168361        73  ...                               0

[155014 rows x 1798 columns]

In [22]:
x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.33, random_state=42)
y_train

31577                     013429423
12412     cjvwnji4p00013h9ldnz5o4pv
66        cjwu7s1o000013v9k6l39ldif
6267      cjw2xxwo300013oagxm05yefs
92475                     021269515
                    ...
130730    cjsw9kiz900013aaxcofidk4i
112995                    023751711
143666    cjs3lrpyk00013mayedqcs3qp
159613    cjolfuqxz00013mb7u9wtx086
132916    cjtay2yb800013bb7pmh99gms
Name: customer_integrated_id, Length: 103859, dtype: object

In [0]:
# from sklearn.feature_extraction.text import TfidfTransformer 
# tfidf_transformer = TfidfTransformer()
# y_train_tfidf = tfidf_transformer.transform(y_train)
# y_train_tfidf.shape

# from sklearn.feature_extraction.text import TfidfVectorizer
# vectorizer = TfidfVectorizer()
# X = vectorizer.transform(y_train)
# print(vectorizer.get_feature_names())
# X.shape

## Train Models

In [0]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB().fit(x_train, y_train)
# from sklearn.metrics.pairwise import cosine_similarity
# cosine_matrix = cosine_similarity(y)

In [0]:
predicted = clf.predict(x_test)
np.mean(predicted == y_test)

In [0]:
# from sklearn import svm
# svm_clf = svm.SVC()
# svm_clf.fit(x_train, y_train)

In [0]:
# predicted2 = svm_clf.predict(x_test)
# np.mean(predicted2 == y_test)